<ion-header class="header">
  <ion-avatar class="profile">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
    <ion-title>Portal de Ideias</ion-title>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main">
  <ion-header collapse="condense">
    <ion-toolbar color="light" >
      <ion-title>Portal de Ideias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container cards">
    <ion-card>
      <a routerLink="cadastrar">
      <ion-card-header>
        <ion-card-title>Cadastrar <br> ideia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para cadastrar novas ideias.
      </ion-card-content>
      </a>
    </ion-card>

    <ion-card>
      <a routerLink="listar">
      <ion-card-header>
        <ion-card-title>Minhas <br> ideias</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Consulte todas as ideias cadastradas.
      </ion-card-content>
    </a>
    </ion-card>

  </div>
</div>



</ion-content>
