<ion-header class="header">
  <ion-avatar class="profile">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
    <ion-title>Gestão de usuários </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">

 <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title>Gestão de usuários</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container cards">
    <ion-card>
      <a routerLink="cadastrar">
        <ion-card-header>
          <ion-card-title>Cadastrar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Clique aqui para cadastrar um novo usuário.
        </ion-card-content>
      </a>
    </ion-card>

    <ion-card>
      <a routerLink="listar">
        <ion-card-header>
          <ion-card-title>Consultar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Consulte todos os usuários cadastrados.
        </ion-card-content>
      </a>
    </ion-card>


  </div>
</div>
</ion-content>
