<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Gestão de usuários </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title>Gestão de usuários</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container cards">
    <ion-card>
      <a routerLink="cadastrar">
        <ion-card-header>
          <ion-card-title>Cadastrar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Clique aqui para cadastrar um novo usuário.
        </ion-card-content>
      </a>
    </ion-card>

    <ion-card>
      <a routerLink="listar">
        <ion-card-header>
          <ion-card-title>Consultar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Consulte todos os usuários cadastrados.
        </ion-card-content>
      </a>
    </ion-card>

    <ion-card>
      <a routerLink="atualizar">
        <ion-card-header>
          <ion-card-title>Atualizar Usuário</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Atualizar dados dos usuários
        </ion-card-content>
      </a>
    </ion-card>
  </div>
</ion-content>
