<ion-header>
  <ion-nav>
    <ion-title>Avatar List</ion-title>
  </ion-nav>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-list-header> Lista de usuários cadastrados </ion-list-header>

    <ion-item-sliding *ngFor="let usuario of usuarios$ | async">
      <ion-item>
        <ion-avatar item-start>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <div class="descricao">
          <h2>{{ usuario.nome }}</h2>
          <p>{{ usuario.setor }}</p>
        </div>
        <ion-note item-end>{{ usuario.letraTurno }}</ion-note>
      </ion-item>
      <ion-item-options class="options">
        <ion-button class="" color="light" icon-start (click)="detalharPage(usuario.id)">
          <div class="buttons">
            <ion-icon name="information-circle-outline"></ion-icon>
            <p>Detalhar</p>
          </div>
        </ion-button>
        <ion-button color="primary" icon-start (click)="atualizarPage(usuario.id)">
          <div class="buttons">
            <ion-icon name="person-add-outline"></ion-icon>
            <p>Atualizar</p>
          </div>
        </ion-button>
        <ion-button color="danger" icon-start (click)="apagarPage(usuario.id)">
          <div class="buttons">
            <ion-icon name="trash-outline"></ion-icon>
            <p>Apagar</p>
          </div>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
