<ion-header class="header">
  <ion-avatar class="profile">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
    <ion-title>Avaliar Ideias</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">

  <div class="container cards">
    <ion-card>
      <a routerLink="/tabs/tab5">
        <ion-card-header>
          <ion-card-title>Avaliar Ideias</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Clique aqui para avaliar ideas cadastradas.
        </ion-card-content>
      </a>
    </ion-card>

    <ion-card>
      <a routerLink="/tabs/tab5">
        <ion-card-header>
          <ion-card-title>Consultar Ideias</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Consulte todos as ideias cadastradas.
        </ion-card-content>
      </a>
    </ion-card>


  </div>
</div>
</ion-content>
