<ion-header [translucent]="true" color="light">
  <ion-toolbar>
    <ion-title>
      Portal de Ideias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light" >
      <ion-title>Portal de Ideias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container cards">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastrar <br> ideia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Clique aqui para cadastrar novas ideias.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Minhas <br> ideias</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Consulte todas as ideias cadastradas.
      </ion-card-content>
    </ion-card>

  </div>




</ion-content>
