<ion-content>
  <ion-list>
    <ion-list-header> Usuário </ion-list-header>

    <ion-item>
      <ion-button fill="clear" (click)="detalharDados()">
      <ion-icon size="large" name="person-circle-outline"></ion-icon>
      <p>Meus dados</p>
    </ion-button>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header> ... </ion-list-header>

    <ion-item>
      <ion-button fill="clear" (click)="logout()">
      <ion-icon size="large" name="log-out-outline"></ion-icon>
      <p>Sair</p>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
