<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-icon name="bulb-outline"></ion-icon>
    <h1 class="titulo">Portal de Ideias</h1>
    <h2 class="empresa">Avient</h2>
    <p class="frase">Challenge Accepted.</p>
  </div>

  <div class="wrapper">

<form class="login" #loginForm="ngForm" (ngSubmit)="login()">
  <p>Acesse o portal e contribua para o processo de melhoria contínua da Avient.</p>
  <ion-item >
    <ion-label position="floating">Nome</ion-label>
    <ion-input
      type="text"
      name="nome"
      [(ngModel)]="dados.nome"
      required
    ></ion-input>
    <ion-note slot="helper">Insira seu nome completo</ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input
      type="password"
      name="cpf"
      [(ngModel)]="dados.cpf"
      required
      ></ion-input>
      <ion-note slot="helper">Insira seu número de registro Avient ou CPF</ion-note>
  </ion-item>

  <div class="buttons">
    <ion-button class="custom" type="submit">ENTRAR</ion-button>
  </div>

</form>

</div>

</ion-content>
