

.logo {
  background-color: #d9d9d9;
  padding-top: 2rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-icon {
    font-size: 16rem;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  p {
    align-self: flex-end;
    padding: 0 10px 10px 0;
    margin: 0;
  }
}

.wrapper {
  background-color: #e34851;
  height: 60%;
  margin: 0;
}

.login {
  margin: 0;

  p {
    color: #fefefe;
    text-align: center;
    margin: 0;
    padding: 1rem 2rem;
  }

  ion-note {
    box-sizing: border-box;
    color: #fefefe;
  }

  ion-item {
    box-sizing: border-box;
    width: 80vw;
    height: 12vh;
    margin: 0 auto;
    background-color: #e34851;
  }

  
  .custom {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    height: 6vh;
    width: 80vw;
      border-radius: 12px;
  }


  .buttons {
    display: flex;
    justify-content: center;

  }
}
