<ion-content [fullscreen]="true" color="primary">
  <div *ngIf="usuario$; else loading">
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
      />
      <ion-card-header>
        <ion-card-title>{{ usuario$.nome }}</ion-card-title>
        <ion-card-subtitle>Setor: {{ usuario$.setor }}</ion-card-subtitle>
        <ion-card-subtitle>Turno: {{ usuario$.letraTurno }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Registro Avient: {{ usuario$.registro }}</p>
        <p>CPF: {{ usuario$.cpf }}</p>
        <p>Perfil: {{ usuario$.perfil }}</p>
        <p>Ramal: {{ usuario$.ramal }} <a href="tel:+5511{{ usuario$.ramal }}"><ion-icon name="call-outline"></ion-icon></a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #loading let-user>Carregando dados</ng-template>
